@{
    ViewBag.Title = "About";
}

<h2>About Me</h2>

<img src="~/Content/Kyle DW1.jpg" />
<p>Kyle Wood - Site Operator</p>
Kyle is an avid Doctor Who fan. For the last 5 years he has been bringing the wonders of Doctor Who to all those who will pay attention.
<p>His aims in life are to have a successful career in the IT industry and to make 100,000 Whovians before he dies!</p>
