@{
    ViewBag.Title = "Where Whovians Can Connect In The Work Place";
}

<h2>Ever wondered if there are other Doctor Who addicts in your office?</h2>
<p>Well look no more! I am here to help connect you!</p> 
<p>The aim here is to have you connect with other Whovians in your company or companies that may be near you.
   Just simply fill out the Contact Form on the Contact page!</p> 
<p>Then when another Whovian shows up in your area, you will be connected and the Whovian universe will expand!</p>
<img src="~/Content/whovian.jpg" />
