@{
    ViewBag.Title = "Work";
}

<h2>Work</h2>
<p>This section is a place for fellow Whovians to post fun Doctor Who themed projects or ideas.</p>
<p>Just leave a note in the comment section that you have something that you would like to have posted 
   and someone will be in contact with you shortly!</p>
<img src="~/Content/DW Header3.jpg"/>
<p>I mean who doesn't love Doctor Who Legos?</p>
<img src="~/Content/DW Work1.jpg" />
<p>A TARDIS built out of plastic beads. Built by a friend of Kyle's, Krista Balsic.</p>
<img src="~/Content/DW Work2.jpg"/>
<p>A TARDIS cake made for Kyle's 24th birthday by Serendipity Catering.</p>
<img src="~/Content/DW Work3.jpg"/>
<p>A hand crafted Lego TARDIS made by Kyle's cousin, Caleb Clowe.</p>
